
@{
    ViewData["Title"] = "Contacto";
}

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>+

<address>
    Carr. La Sabiduria "100" <br />
    Salamanca,Gto <br/>
                  <abbr title="Telefono">T: </abbr>
                   462-462-422
</address>

<address>
    <strong>Soporte</strong><a href="mailito:soporte@hotmail.com">soporte@hotmail.com</a><br/>
</address>

